.title-popular {
  font-family: "Times New Roman", Times, serif;
}

.title-restaurant {
  font-family: "Times New Roman", Times, serif;
}

.label {
  width: 1px;
}

/* .label-resto{
    width: 250px;
    height: 80px;
} */
